body {
	text-align: center;
}
#box {
	font-size: 30px;
	display: box;
	margin: 150px auto;
	color: white;
	background: red;
	width: 180px;
	height: 80px;
	-webkit-border-radius: 50px;
}
#box > p {
	padding: 20px;
}