body {
	text-align: center;
}
#box {
	display: box;
	width: 500px;
	margin: 50px; auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: -webkit-radial-gradient(center, ellipse, red 0%, orange 80%);
	-webkit-border-radius: 50px;
	-webkit-box-shadow: rgba(110, 110, 110, .8) 10px 8px 8px;
	
}
#text {
	font: bold 30px Century Gothic;
	text-shadow: rgb(50, 50, 50) 1px 1px 3px;
	
}